.template-selectors-menu
  .templates-selectors-label
    Template
  .template-selectors-wrap
    .template-type-selector.js-template-type-selector-wrap.hidden
      = dropdown_tag("Choose type", options: { toggle_class: 'btn js-template-type-selector', title: "Choose a template type" } )
    .license-selector.js-license-selector-wrap.hidden
      = dropdown_tag("Choose a License template", options: { toggle_class: 'btn js-license-selector', title: "Choose a license", filter: true, placeholder: "Filter", data: { data: licenses_for_select, project: @project.name, fullname: @project.namespace.human_name } } )
    .gitignore-selector.js-gitignore-selector-wrap.hidden
      = dropdown_tag("Choose a .gitignore template", options: { toggle_class: 'btn js-gitignore-selector', title: "Choose a template", filter: true, placeholder: "Filter", data: { data: gitignore_names } } )
    .gitlab-ci-yml-selector.js-gitlab-ci-yml-selector-wrap.hidden
      = dropdown_tag("Choose a GitLab CI Yaml template", options: { toggle_class: 'btn js-gitlab-ci-yml-selector', title: "Choose a template", filter: true, placeholder: "Filter", data: { data: gitlab_ci_ymls } } )
    .dockerfile-selector.js-dockerfile-selector-wrap.hidden
      = dropdown_tag("Choose a Dockerfile template", options: { toggle_class: 'btn js-dockerfile-selector', title: "Choose a template", filter: true, placeholder: "Filter", data: { data: dockerfile_names } } )
  .template-selectors-undo-menu.hidden
    %span.text-info Template applied
    %button.btn.btn-sm.btn-info Undo
