- project = local_assigns.fetch(:project)
- return if project.empty_repo? || !project.fork_possible?

- if project.already_forked_by_current_user? && current_user.manageable_namespaces.one?
  = link_to namespace_project_path(current_user, project.current_user_fork), title: 'Go to your fork', class: 'btn has-tooltip' do
    = custom_icon('icon_fork')
    %span Fork
- else
  = link_to new_namespace_project_fork_path(project.namespace, project), title: 'Fork project', class: 'btn' do
    = custom_icon('icon_fork')
    %span Fork

%div.count-with-arrow
  %span.arrow
  = link_to namespace_project_forks_path(project.namespace, project), title: 'Forks', class: 'count' do
    = project.forks_count
