- if @merge_request.id == 41
  - commit = @merge_request.diff_head_commit
  - content_for :page_specific_javascripts do
    :javascript
      // MR initial State
      var mergeRequestInitialState = {
        state: {
          mergeRequest: {
            userCanMerge: #{@merge_request.can_be_merged_by?(current_user)},
            status: '#{@merge_request.state}',  // opened, reopened, closed, merged, locked
            mergeStatus: '#{@merge_request.merge_status}', // unchecked, can_be_merged, cannot_be_merged
            sha: '#{@pipeline.short_sha}',
            commitUrl: "#{namespace_project_commit_path(@merge_request.source_project.namespace, @merge_request.source_project, commit)}",
            targetBranch: '#{@merge_request.target_branch}',
            mergeCommitMessage: "#{escape_javascript(@merge_request.merge_commit_message)}",
            author: '#{event_author_details("merged")}'
          },
          ci: {
            detailsUrl: '/gitlab-org/gitlab-ce/merge_requests/74/builds', // ci_build_details_path(@merge_request)
            status: 'pending', // pending, running, failed, success, canceled, skipped
          }
        }
      };

    = page_specific_javascript_tag('lib/vue')
    = page_specific_javascript_tag('merge_request/merge_request_bundle.js')
  = render 'new_show'
- else
  = render 'show'
